<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <div th:if="${client.getIdClient() == null}">
    <title>Create New Client</title>
  </div>
  <div th:unless="${client.getIdClient() == null}">
    <title>Modify Client</title>
  </div>
</head>
<body>
<div th:if="${client.getIdClient() == null}">
  <h3> Create New Client</h3>
</div>
<div th:unless="${client.getIdClient() == null}">
  <h3> Modify Client</h3>
</div>
<p>
  <a th:href="@{/client/list}">
    Back to list
  </a>
</p>
<div id="form">
  <form action="#" th:action="@{/client/save}" th:object="${client}"
        method="POST" novalidate="novalidate" enctype="multipart/form-data">
    <input type="hidden" th:field="*{record}"/>
    <input type="hidden" th:field="*{idClient}"/>
    <div>
      <label>Name</label>
      <input type="text" th:field="*{nameClient}"/>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" th:field="*{email}" id="email"/>
      <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div>
      <label>Birthday</label>
      <input type="date" th:field="*{birthday}"/>
    </div>
    <div>
      <label>Phone</label>
      <input type="text" th:field="*{phone}"/>
    </div>
    <div>
      <label>Photos: </label>
      <label type="text" th:text="*{photos}"></label>
      <input type="file" name="image" accept="image/png, image/jpeg" />
    </div>
    <div>
      <label>Type client</label>
      <select th:field="*{typeClient}">
        <th:block th:each="typeClient : ${typeClients}">
          <option th:value="${typeClient.id}" th:text="${typeClient.nameType}"></option>
        </th:block>
      </select>
    </div>

    <input type="submit" value="Save" />
  </form>
</div>
</body>
</html>