<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History Orders</title>
</head>
<body>
<p>
    <a th:href="@{/home}">
        Home
    </a>
</p>
<table id = "books">
    <thead>
    <tr>
        <th>Number</th>
        <th>ID</th>
        <th>DATE</th>
        <th>TOTAL</th>
        <th>STATUS</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order,rowStat : ${orders}">
        <td th:text="${rowStat.index + 1}"></td>
        <td th:text="${order.getIdOrder()}"></td>
        <td th:text="${order.getDateBuy()}"></td>
        <td th:text="${order.getTotal()}"></td>
        <td th:text="${order.getStatus()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>