<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Study</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<h3>Study</h3>
<p>
    <a th:href="@{/home}">
        Home
    </a>
</p>
<p>
    <a th:href="@{/study/create-edit}">
        Add new study
    </a>
</p>
<p>
    <a th:href="@{/categoryStudy/list}">
        Category Study
    </a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<form th:action="@{/study/list}" method="get">
    <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by Name or Type" size="50" >
    <button type="submit" class="btn btn-info" >Search</button>
    <button type="submit" class="btn btn-info" >Reset</button>
</form>
<table id = "products">
    <thead>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Color</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Publisher</th>
        <th>DatePublish</th>
        <th>Category Study</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="study,rowStat : ${studyPages}">
        <td th:text="${rowStat.index + 1}"></td>
        <td th:text="${study.getNameStudy()}"></td>
        <td th:text="${study.getColor()}"></td>
        <td th:text="${study.getPrice()}"></td>
        <td th:text="${study.getAmount()}"></td>
        <td th:text="${study.getPublisher()}"></td>
        <td th:text="${study.getDatePublish()}"></td>
        <td th:text="${study.getCategoryStudy().name}"></td>
        <td><a th:href="@{/study/create-edit/{id}(id=${study.getIdStudy()})}">edit</a></td>
        <td><a th:href="@{/study/delete/{id}(id=${study.getIdStudy()})}">delete</a></td>
        <td><a th:href="@{/study/view/{id}(id=${study.getIdStudy()})}">view</a></td>
    </tr>
    </tbody>
</table>
<div th:if="${studyPages.totalPages > 1}" >
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination">
                    <div class="col-sm-1">
                        <a th:if="${currentPage > 1}" th:href="@{/study/list(size=${studyPages.size}, page=${1})}">First</a>
                        <span th:unless="${currentPage > 1}">First</span>
                    </div>
                    <div class = "col-sm-1">
                        <a th:if="${currentPage > 1}" th:href="@{/study/list(size=${studyPages.size}, page=${currentPage-1})}">Previous</a>
                        <span th:unless="${currentPage > 1}">Previous</span>
                    </div>
                    <li class="col-sm-1" th:each="pageNumber : ${pageNumbers}">
                        <a th:if="${currentPage != pageNumber}" th:href="@{/study/list(size=${studyPages.size}, page=${pageNumber})}"
                           th:text=${pageNumber} th:class="${pageNumber==studyPages.number + 1} ? active"></a>
                        <span th:unless="${currentPage != pageNumber}">[[${pageNumber}]]</span>  &nbsp; &nbsp;
                    </li>
                    <div class = "col-sm-1">
                        <a th:if="${currentPage < studyPages.totalPages}" th:href="@{/study/list(size=${studyPages.size}, page=${currentPage+1})}">Next</a>
                        <span th:unless="${currentPage < studyPages.totalPages}">Next</span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${currentPage < studyPages.totalPages}" th:href="@{/study/list(size=${studyPages.size}, page=${studyPages.totalPages})}">Last</a>
                        <span th:unless="${currentPage < studyPages.totalPages}">Last</span>
                    </div>
                </ul>
            </div>
        </div>
    </div>

</div>
</body>
</html>